{{ 'c_base.css' | asset_url | stylesheet_tag }}
{{ 'c_about.css' | asset_url | stylesheet_tag }}

<section id="about" class="about">
    <div class="about__inner inner">
        <div class="about__wrap">
        <div class="about__heading js-in-view fade-in-up">
            <h2 class="heading-en about__heading-en">ABOUT</h2>
        </div>

        <div class="about__contents">
            <p class="heading-ja about__heading-ja js-in-view fade-in-up">地域の皆様にとっての<br />
                <span class="heading-ja text-highlight">Webの相談役</span>を目指して。
            </p>

            <p class="about__text js-in-view fade-in">
                合同会社ひかりサービスは、北海道空知地方にある<br class="shidden" />
                「地域に根ざしたWeb制作会社」です。<br />
                ホームページやオンラインストアの制作から運用まで、「Web周りの相談役」としてお客様の事業の成功やブランディングのお手伝いをさせていただきます。
            </p>
        </div>

        <a href="https://hikari-service.net/pages/about-us" class="button--common button--about js-in-view fade-in">
            <span class="button--common__circle button--about__circle"></span>
            <span class="button--common__text button--about__text">私たちについて</span>
        </a>
        </div>

        <div class="about__image">
            <span class="about__image-main"></span>
            <span class="about__image-deco1 js-in-view fade-in"></span>
            <span class="about__image-deco2 js-in-view fade-in"></span>
            <span class="about__image-deco3 js-in-view fade-in"></span>
            <span class="about__image-people js-in-view fade-in"></span>
            <span class="about__image-man js-in-view fade-in"></span>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "c_about",
    "tag": "section",
    "class": "section c_about",
    "presets": [
        {
            "name": "c_about"
        }
    ]
}
{% endschema %}