{{ 'c_blog.css' | asset_url | stylesheet_tag }}

<section id="blog" class="blog">
  <div class="blog__inner inner">
    <div class="heading blog__heading">
      <h2 class="heading-en blog__heading-en js-in-view fade-in-up">
        BLOG
      </h2>
      <p class="heading-ja blog__heading-ja js-in-view fade-in-up">
        ブログ
      </p>
      <p
        class="heading-description blog__heading-description js-in-view fade-in"
      >
        ひかりサービスの最新情報を発信しています。
      </p>
    </div>
  </div>

  <div class="blog__lists js-in-view fade-in">
    <div class="blog__lists-inner">
      <div class="splide splide-blog" aria-label="ブログ">
        <div class="splide-wrapper splide-blog__wrapper">
          <div class="splide__arrows blog-item__arrows">
            <button
              class="splide__arrow blog-item__arrow splide__arrow--prev blog-item__button-prev"
            ></button>
            <button
              class="splide__arrow blog-item__arrow splide__arrow--next blog-item__button-next"
            ></button>
          </div>
          <div class="splide__track splide-blog__track js-scrollable">
            <ul class="splide__list splide-blog__list">
              <li class="splide__slide blog-slide">
                <a href="" class="blog-item" target="_blank">
                  <div class="blog-item__image">
                    <img
                      src="./img/img_blog1.webp"
                      alt=""
                      width="250"
                      height="167"
                      loading="lazy"
                    />
                  </div>
                  <div class="blog-item__info">
                    <time class="blog-item__date" datetime="2023-01-15"
                      >2023.01.15</time
                    >
                    <h3 class="blog-item__title">地域での活動について</h3>
                    <p class="blog-item__text">
                      ひかりサービスは、Web制作の仕事だけではなく、2013年より地域に根ざした障害者支援サービスも行っています。現在では、関連会社あわせて北海道空知地方全域での障害児及び障害者の支援を行っています。
                    </p>
                  </div>
                </a>
              </li>

              <li class="splide__slide blog-slide">
                <a href="" class="blog-item" target="_blank">
                  <div class="blog-item__image">
                    <img
                      src="./img/img_blog2.webp"
                      alt=""
                      width="250"
                      height="167"
                      loading="lazy"
                    />
                  </div>
                  <div class="blog-item__info">
                    <time class="blog-item__date" datetime="2023-01-08"
                      >2023.01.08</time
                    >
                    <h3 class="blog-item__title">
                      Webに関する様々なサービスを行っています
                    </h3>
                    <p class="blog-item__text">
                      ホームページ作成やインターネットショッピングサイト作成の他にも、LINEでお客様の再来を促すLINE構築の仕事や、デザインのお仕事、クラウドファンディングの制作支援なども行っています。
                    </p>
                  </div>
                </a>
              </li>

              <li class="splide__slide blog-slide">
                <a href="" class="blog-item" target="_blank">
                  <div class="blog-item__image">
                    <img
                      src="./img/img_blog1.webp"
                      alt=""
                      width="250"
                      height="167"
                      loading="lazy"
                    />
                  </div>
                  <div class="blog-item__info">
                    <time class="blog-item__date" datetime="2023-01-15"
                      >2023.01.15</time
                    >
                    <h3 class="blog-item__title">地域での活動について</h3>
                    <p class="blog-item__text">
                      ひかりサービスは、Web制作の仕事だけではなく、2013年より地域に根ざした障害者支援サービスも行っています。現在では、関連会社あわせて北海道空知地方全域での障害児及び障害者の支援を行っています。
                    </p>
                  </div>
                </a>
              </li>

              <li class="splide__slide blog-slide">
                <a href="" class="blog-item" target="_blank">
                  <div class="blog-item__image">
                    <img
                      src="./img/img_blog2.webp"
                      alt=""
                      width="250"
                      height="167"
                      loading="lazy"
                    />
                  </div>
                  <div class="blog-item__info">
                    <time class="blog-item__date" datetime="2023-01-08"
                      >2023.01.08</time
                    >
                    <h3 class="blog-item__title">
                      Webに関する様々なサービスを行っています
                    </h3>
                    <p class="blog-item__text">
                      ホームページ作成やインターネットショッピングサイト作成の他にも、LINEでお客様の再来を促すLINE構築の仕事や、デザインのお仕事、クラウドファンディングの制作支援なども行っています。
                    </p>
                  </div>
                </a>
              </li>

              <li class="splide__slide blog-slide">
                <a href="" class="blog-item" target="_blank">
                  <div class="blog-item__image">
                    <img
                      src="./img/img_blog1.webp"
                      alt=""
                      width="250"
                      height="167"
                      loading="lazy"
                    />
                  </div>
                  <div class="blog-item__info">
                    <time class="blog-item__date" datetime="2023-01-15"
                      >2023.01.15</time
                    >
                    <h3 class="blog-item__title">地域での活動について</h3>
                    <p class="blog-item__text">
                      ひかりサービスは、Web制作の仕事だけではなく、2013年より地域に根ざした障害者支援サービスも行っています。現在では、関連会社あわせて北海道空知地方全域での障害児及び障害者の支援を行っています。
                    </p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a href="" class="button--common button--blog js-in-view fade-in">
    <span class="button--common__circle button--blog__circle"></span>
    <span class="button--common__text button--blog__text"
      >ブログ一覧をみる</span
    >
  </a>
</section>

{% schema %}
  {
    "name": "c_blog",
    "tag": "section",
    "class": "section",
    "settings": [
    ],
    "presets": [
      {
        "name": "c_blog"
      }
    ]
  }
{% endschema %}