<section>
  <footer class="footer">
    <div class="footer__inner inner">
      <div class="footer__wrap">
        <div class="footer__info">
          <a href="#" class="footer__logo">
            <span class="footer__logo-text">北海道・空知のWeb制作</span>
            <span class="footer__logo-image">
              <img
                src="./img/logo.webp"
                alt=""
                loading="lazy"
                width="136"
                height="45"
              />
            </span>
          </a>
          <div class="footer__company js-in-view fade-in-up">
            <p class="footer__company-name">合同会社ひかりサービス</p>
            <p class="footer__company-address">
              〒072-0017　北海道美唄市東6条南1-3-6
            </p>
          </div>
          <a href="#" class="to-top to-top--sp" id="js-to-top--sp"></a>
        </div>

        <div class="footer__nav">
          <ul class="footer-lists">
            <li class="footer__item-list js-in-view fade-in">
              <a href="#" class="footer-item">HOME</a>
            </li>
            <li class="footer__item-list js-in-view fade-in">
              <a href="#about" class="footer-item">私たちについて</a>
            </li>
            <li class="footer__item-list js-in-view fade-in">
              <a href="#service" class="footer-item">サービス</a>
            </li>
            <li class="footer__item-list js-in-view fade-in">
              <a href="#reason" class="footer-item">選ばれる理由</a>
            </li>
            <li class="footer__item-list js-in-view fade-in">
              <a href="#price" class="footer-item">料金</a>
            </li>
            <li class="footer__item-list js-in-view fade-in">
              <a href="#blog" class="footer-item">ブログ</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="footer__copy">
        <small class="footer__copyright js-in-view fade-in"
          >© 2024, ひかりサービス</small
        >
        <a href="#" class="to-top to-top--pc" id="js-to-top--pc"></a>
      </div>
    </div>
  </footer>
</section>