{{ 'c_base.css' | asset_url | stylesheet_tag }}
{{ 'c_fv.css' | asset_url | stylesheet_tag }}

<section class="fv">
    <div class="fv__image"></div>
    <div class="fv__contents">
        <p class="fv__lead">
            <span class="fv__lead1">地域とつながり、</span>
            <span class="fv__lead2">お客様と共に歩む。</span>
        </p>
        <p class="fv__description">
            <span class="fv__description1">地域密着の「集客型ホームページ」で、</span >
            <span class="fv__description2">お客様の事業成功をサポートいたします。</span>
        </p>
    </div>
</section>

{% schema %}
{
    "name": "c_fv",
    "tag": "section",
    "class": "section c_fv",
    "presets": [
        {
            "name": "c_fv"
        }
    ]
}
{% endschema %}