{{ 'c_plans.css' | asset_url | stylesheet_tag }}

<section id="price" class="plans">
  <div class="plans__bg"></div>
  <div class="plans__inner inner">
    <div class="heading plans__heading">
      <h2 class="heading-en plans__heading-en js-in-view fade-in-up">
        PLAN
      </h2>
      <p class="heading-ja plans__heading-ja js-in-view fade-in-up">
        料金プランの一例
      </p>
      <p
        class="heading-description plans__heading-description js-in-view fade-in"
      >
        <span class="text-highlight">最低限のご予算で制作したい方</span
        >から<span class="text-highlight">他社との差別化を求める方</span
        >まで、<br
          class="sp-hidden"
        />お客様のご要望に合わせたプランをご用意しております。
      </p>
    </div>

    <div class="plans__price">
      <div class="plans__price-lists">
        <div class="price-item__bg js-in-view fade-in">
          <a
            href="https://hikari-service.net/products/shopify"
            class="plans__price-item price-item"
          >
            <div class="price-item__title">
              <h3 class="price-item__title-text">
                オンラインストア制作プラン
              </h3>
            </div>

            <div class="price-item__contents">
              <p class="price-item__price">
                <span class="price-item__price-mark">￥</span
                ><span class="price-item__price-pricing">440,000</span
                ><span class="price-item__price-tax">(税込)〜</span>
              </p>
              <div class="price-item__target">
                <p class="price-item__target-title">
                  こんな方におすすめです
                </p>
                <div class="price-item__target-image"></div>
                <ul class="price-item__target-lists">
                  <li class="price-item__target-item">
                    集客に強いオンラインストアがほしい
                  </li>
                  <li class="price-item__target-item">
                    WEBで商品やサービスを販売したい
                  </li>
                </ul>
              </div>
            </div>
          </a>
        </div>

        <div class="price-item__bg js-in-view fade-in">
          <a
            href="https://hikari-service.net/products/theme_wordpress"
            class="plans__price-item price-item"
          >
            <div class="price-item__title">
              <h3 class="price-item__title-text">お手軽ホームページ制作</h3>
            </div>

            <div class="price-item__contents">
              <p class="price-item__price">
                <span class="price-item__price-mark">￥</span
                ><span class="price-item__price-pricing">275,000</span
                ><span class="price-item__price-tax">(税込)〜</span>
              </p>
              <div class="price-item__target">
                <p class="price-item__target-title">
                  こんな方におすすめです
                </p>
                <div class="price-item__target-image"></div>
                <ul class="price-item__target-lists">
                  <li class="price-item__target-item">
                    名刺代わりのホームページがほしい
                  </li>
                  <li class="price-item__target-item">
                    費用を抑え最低限のページだけほしい
                  </li>
                </ul>
              </div>
            </div>
          </a>
        </div>

        <div class="price-item__bg js-in-view fade-in">
          <a
            href="https://hikari-service.net/products/full_scratch_wordpress"
            class="plans__price-item price-item"
          >
            <div class="price-item__title">
              <h3 class="price-item__title-text">
                しっかりデザインホームページ制作
              </h3>
            </div>

            <div class="price-item__contents">
              <p class="price-item__price">
                <span class="price-item__price-mark">￥</span
                ><span class="price-item__price-pricing">396,000</span
                ><span class="price-item__price-tax">(税込)〜</span>
              </p>
              <div class="price-item__target">
                <p class="price-item__target-title">
                  こんな方におすすめです
                </p>
                <div class="price-item__target-image"></div>
                <ul class="price-item__target-lists">
                  <li class="price-item__target-item">
                    自分で更新できるホームページがほしい
                  </li>
                  <li class="price-item__target-item">
                    集客に強いホームページがほしい
                  </li>
                </ul>
              </div>
            </div>
          </a>
        </div>
      </div>

      <a
        href="https://hikari-service.net/pages/services"
        class="button--common button--plan js-in-view fade-in"
      >
        <span class="button--common__circle button--plan__circle"></span>
        <span class="button--common__text button--plan__text"
          >プランをもっとみる</span
        >
      </a>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "c_plans",
    "tag": "section",
    "class": "section",
    "settings": [
    ],
    "presets": [
      {
        "name": "c_plans"
      }
    ]
  }
{% endschema %}