.contact {
  padding-block: 40px;
  background: url(./img/bg_contact.webp) no-repeat center center / cover;
}

@media screen and (min-width: 768px) {
  .contact {
    position: relative;
    padding-block: 112px 80px;
  }
  .contact::after {
    content: "";
    position: absolute;
    background: linear-gradient(
      0deg,
      rgba(74, 200, 199, 0.3) 0%,
      rgba(74, 200, 199, 0.3) 100%
    );
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.contact__inner {
}

@media screen and (min-width: 768px) {
  .contact__inner {
    position: relative;
    z-index: 1;
    max-width: calc(1240px + 30px * 2);
  }
}

.contact__box {
  width: 100%;
  /* width: 335px; */
  border-radius: 16px;
  background: rgba(74, 200, 199, 0.9);
  padding-block: 56px;

  color: #fdfdfd;
}

@media screen and (min-width: 768px) {
  .contact__box {
    width: 100%;
    padding: 56px 0px;
  }
}

.contact__heading {
}

.contact__heading-en {
  color: #fdfdfd;
}

.contact__heading-ja {
  margin-top: 16px;
}

.contact__text-box {
  margin-top: 16px;
  padding-inline:  12px;
}

.contact__text {
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  line-height: 200%;
  letter-spacing: 1.04px;
}

@media screen and (min-width: 768px) {
  .contact__text {
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 1.28px;
  }
}

.button--contact {
  margin-top: 24px;
  background: #f5b561;
  border: 2px solid currentColor;
  margin-inline: auto;
  padding: 12px 32px;
  max-width: 270px;
}

@media screen and (min-width: 768px) {
  .button--contact {
    max-width: 337px;
  }
}

.button--contact__circle {
  background-color: #fdfdfd;
}

.button--contact__circle::after {
  mask-image: url(./img/icon_mail.svg);
  background-color: #f5b561;
  width: 21px;
  height: 16px;
}

.button--contact__text {
}

/* ボタンホバー時アニメーション */
.button--contact::before {
  background: #FDFDFD;
}

.button--contact:hover >.button--contact__circle {
  background: #F5B561;
}

.button--contact:hover >.button--contact__circle::after {
  background: #FDFDFD;
}


.button--contact:hover {
  color: #F5B561;
}