.header {
  position: fixed;
  width: 100%;
  height: 72px;
  z-index: 100;
  background: rgba(234, 246, 243, 0.3);
  place-items: center;
  display: block !important;
}
.header::after {
  content: "";
  background: #eaf6f3;
  transform: translateX(-100%);
  transition: transform 0.3s linear;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}
.header.is-checked::after {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
@media screen and (min-width: 1024px) {
  .header {
    height: 100px;
  }
}

.header__inner {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 1024px) {
  .header__inner {
    max-width: calc(1240px + 30px * 2);
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.drawer-icon {
  display: inline-block;
  width: 38px;
  height: 36px;
  position: relative;
}
.drawer-icon.is-checked .drawer-icon__bar:nth-of-type(1) {
  transform: rotate(30deg);
  top: 10px;
}
.drawer-icon.is-checked .drawer-icon__bar:nth-of-type(2) {
  transform: rotate(-30deg);
  top: 10px;
}
.drawer-icon.is-checked .drawer-icon__text.is-open {
  visibility: hidden;
  transition-delay: initial;
  top: 15px;
}

.drawer-icon.is-checked .drawer-icon__text.is-closed {
  visibility: visible;
  transform: translateZ(-5px) translateX(-50%);
  transition-delay: 0.5s;
  top: 20px;
}

@media screen and (min-width: 1024px) {
  .drawer-icon {
    display: none;
  }
}

.drawer-icon__piece {
  position: absolute;
  top: 0;
  left: 0;
}

.drawer-icon__piece:nth-of-type(1) {
  top: 4px;
}
.drawer-icon__piece:nth-of-type(2) {
  top: 14px;
}
.drawer-icon__piece:nth-of-type(3) {
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
}
.drawer-icon__piece:nth-of-type(4) {
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
}

.drawer-icon__bar {
  width: 32px;
  height: 2px;
  background: #4ac8c7;
  left: 3px;
  transition: transform 0.6s;
}

.drawer-icon__text {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.5px;
  color: #4ac8c7;
  transition: all 0.3s;
}

.drawer-icon__text.is-open {
  visibility: visible;
  transform: translateZ(5px) translateX(-50%);
  transition-delay: 0.5s;
  top: 20px;
}

.drawer-icon__text.is-closed {
  visibility: hidden;
}

.header__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  aspect-ratio: 110/35;
}
.header__title img {
  width: 110px;
  height: 35px;
  object-fit: contain;
}
@media screen and (min-width: 1024px) {
  .header__title {
    aspect-ratio: 160 / 53;
  }
  .header__title img {
    width: 160px;
    height: 53px;
  }
}

.header__title-text {
  font-family: "Zen Kaku Gothic New";
  font-size: 10px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.8px;
  color: #00b1b0;
}

@media screen and (min-width: 1024px) {
  .header__title-text {
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 1.12px;
  }
}

.header__nav {
  display: none;
}
@media screen and (min-width: 1024px) {
  .header__nav {
    display: block;
  }
}

.header__lists {
  display: flex;
  font-family: "Zen Kaku Gothic New";
  font-weight: 700;
  line-height: 150%;
  gap: 32px;
}

.header__link {
  white-space: nowrap;
  transition: color 0.5s;
}

.header__link:hover {
  color: #4ac8c7;
}

.header__icons {
  display: flex;
  gap: 16px;
}

@media screen and (min-width: 1024px) {
  .header__icons {
    gap: 32px;
  }
}

.header-icon {
  width: 18px;
  height: 18px;
}

@media screen and (min-width: 1024px) {
  .header-icon {
    width: 22px;
    height: 22px;
  }
}

.header-icon:nth-of-type(1) .header-icon__link {
  mask-image: url(./img/icon_login.svg);
}
.header-icon:nth-of-type(2) .header-icon__link {
  mask-image: url(./img/icon_search.svg);
}
.header-icon:nth-of-type(3) .header-icon__link {
  mask-image: url(./img/icon_bag.svg);
}

.header-icon__link {
  display: block !important;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  background-color: #333;
  width: 18px;
  height: 18px;

  transition: background-color 0.5s;
}

.header-icon__link:hover {
  background-color: #4ac8c7;
}

.drawer-content {
  position: fixed;
  top: 72px;
  right: 0;
  width: 100%;
  height: 100vh;
  background: #eaf6f3;
  flex-shrink: 0;
  transform: translateX(-100%);
  z-index: 50;
  transition: transform 0.3s linear;
}
.drawer-content.is-checked {
  transform: translateX(0);
}

.drawer__menu {
  margin-top: 8px;
  background: #fdfdfd;
  border-radius: 10px;
  max-width: 335px;
  padding: 24px 24px 40px;
  margin-inline: auto;
}

.drawer__lists {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.drawer__list {
  width: 100%;
}

.drawer-content__link {
  font-family: "Zen Kaku Gothic New";
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1.28px;
  padding-block: 12px;
  width: 100%;
  display: block;
  border-bottom: 1px solid #9cddde;
}

.drawer__company {
  margin-top: 24px;
  text-align: center;
}

.drawer__company-text {
  font-family: "Zen Kaku Gothic New";
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 200%;
  letter-spacing: 0.8px;
  color: #959595;
}

.to-contact {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 30;
  width: 72px;
  height: 72px;
  background-color: #f5b561;
  border-radius: 50%;
  border: 1px solid #fdfdfd;

  display: block !important;
}

@media screen and (min-width: 1024px) {
  .to-contact {
    top: initial;
    bottom: 40px;
    right: 40px;
    width: clamp(4.5rem, 1.071rem + 7.14vw, 7.5rem);
    height: clamp(4.5rem, 1.071rem + 7.14vw, 7.5rem);

    display: flex;
    flex-direction: column;
  }

  .to-contact::before {
    content: "お問い合わせ";
    color: #fdfdfd;
    font-size: clamp(0.75rem, 0.442rem + 0.48vw, 0.875rem);
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.28px;
    white-space: nowrap;

    position: absolute;
    top: min(28px , 1.94vw);
    left: 50%;
    transform: translateX(-50%);
  }
}

.to-contact::after {
  content: "";
  mask-image: url(./img/icon_mail.svg);
  background-color: #fdfdfd;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;

  display: block;
  width: 28px;
  height: 22px;
  flex-shrink: 0;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@media screen and (min-width: 1024px) {
  .to-contact::after {
    width: clamp(2.5rem, 0.962rem + 2.4vw, 3.125rem);
    height: clamp(1.75rem, 0.673rem + 1.68vw, 2.188rem);
    top: min(57px , 3.96vw);
    transform: translateX(-50%);
  }
}

/* to-contactホバー時アニメーション */
.to-contact {
transition: all 0.3s;
}

.to-contact:hover {
  background-color: #fdfdfd;
  border: 1px solid #f5b561;
}

.to-contact:hover::before {
  color: #f5b561;
}

.to-contact:hover::after {
  background-color: #f5b561;
}

